.category-header {
  padding: 95px 15px;

  @include breakpoint(lg) {
        padding: 110px 80px 118px;
  }

  &__title {
    margin: 0;
    line-height: 50px;
    font-size: 3.6rem;
    text-align: center;
    color: var(--mid-blue);
  }
}
