@font-face {
	@include font-face($font-hn-semibold-italic, "Hero-New-Semibold-Italic", italic);
}

@font-face {
	@include font-face($font-hn-semibold, "Hero-New-Semibold", normal);
}

@font-face {
	@include font-face($font-hn-regular, "Hero-New-Regular", normal);
}

@font-face {
	@include font-face($font-hn-light-italic, "Hero-New-Light-Italic", italic);
}

$font-family-semibold-italic: $font-hn-semibold-italic, Arial, sans-serif;
$font-family-semibold: $font-hn-semibold, Arial, sans-serif;
$font-family-regular: $font-hn-regular, Arial, sans-serif;
$font-family-light-italic: $font-hn-light-italic, Arial, sans-serif;

h1, .h1 {
  font-family: $font-family-semibold-italic;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 36px;

  @include breakpoint(lg) {
    font-size: 6.4rem;
    line-height: 62px;
  }
}

h2, .h2 {
  font-family: $font-family-semibold;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 45px;

  @include breakpoint(lg) {
    font-size: 3.6rem;
    line-height: 50px;
  }
}

h3, .h3 {
  font-family: $font-family-semibold;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
}

p, .p {
  font-family: $font-family-regular;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 22px;
}

.caption {
  font-family: $font-family-light-italic;
  font-size: 1rem;
  font-weight: 300;
  line-height: 14px;
}
