<a class="category-product" href="{{url}}.html" target="_self">
  <div class="category-product__card">
    <figure class="category-product__figure">
      {{{asset image}}}
    </figure>
  </div>
  <div class="category-product__info">
    <p class="category-product__title">
      {{title}}
    </p>
    <p class="category-product__price">
      {{price}}
    </p>
  </div>
</a>
