{{!-- HTML structure for each product card --}}
<div class="product">
  <figure class="product__figure">
    {{{asset productImage}}}
  </figure>
  <h3 class="product__title">
    {{productName}}
  </h3>
  <div class="product__link">
    {{{module link}}}
  </div>
</div>
